
#container{
    height: 100vh;
    display:grid;
    grid-template-rows:100px 1fr;
    
}

header{
    grid-row: 1/span-1;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    width:10%;
    display:flex;
    justify-content: space-around;
    
}
main{
    width:100%;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
  
}

a{
    text-decoration: none;
    font-family:sans-serif;
}
picture{
    grid-column: 2/3;
    justify-content:center;
}

footer{
   display: flex;
   justify-content: center;
}